Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["yarn lint:fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

fix(categories): sort should be allowed
  package.json
  src/api/category/routes/category.js
Due: yarn lint:fix, prettier --write

feat(article): added preview and annotation
  package.json
  src/api/article/content-types/article/schema.json
Due: prettier --write

fix(article): added configuration
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article.article.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
Due: prettier --write

feat(article): return only pages
  package.json
  src/api/article-category/routes/article-category.js
  src/api/article/middlewares/is-not-pages.js
  src/api/article/routes/article.js
  tests/article/article.test.js
Due: yarn lint:fix, prettier --write

feat(article): add get by slug method
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  package.json
  src/api/article/controllers/article.js
  src/api/article/routes/article-custom.js
  src/api/article/services/article.js
  tests/article/article.test.js
Due: yarn lint:fix, prettier --write

feat(promotion): request by sms
  src/api/auction/controllers/auction.js
  src/api/coupon/content-types/coupon/schema.json
  src/api/coupon/services/coupon.js
  src/api/promotion/content-types/promotion/schema.json
  src/api/promotion/controllers/promotion.js
  src/utils/coupons.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feat(promotion): sms service is updated and enabled
  config/server.js
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##report.report.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  src/api/report/content-types/report/schema.json
  src/api/report/controllers/report.js
  src/api/sms/services/sms.js
Due: yarn lint:fix, prettier --write

feat(coupons): shortener
  config/server.js
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.strapi_content_types_schema.json
  package.json
  src/api/coupon/content-types/coupon/schema.json
  src/api/coupon/services/coupon.js
  src/api/promotion/controllers/promotion.js
  src/api/shortener/services/shortener.js
  src/api/sms/services/sms.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feat(report): coupons connection
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##report.report.json
  config/sync/core-store.strapi_content_types_schema.json
  package.json
  src/api/report/content-types/report/schema.json
  src/api/report/controllers/report.js
  tests/report/report.factory.js
  tests/report/report.test.js
  yarn.lock
Due: yarn lint:fix, prettier --write

fix(report): should be sent to kos
  src/api/report/controllers/report.js
Due: yarn lint:fix

fix(report): message shoul be instant and readable
  package.json
  src/api/report/controllers/report.js
Due: yarn lint:fix, prettier --write

fix(report): replace sms to email
  package.json
  src/api/chat/controllers/chat.js
  tests/chat/chat.test.js
Due: yarn lint:fix, prettier --write

fix(chat): greeting is available for new chats
  package.json
  src/api/chat/controllers/chat.js
  tests/chat/chat.test.js
Due: yarn lint:fix, prettier --write

fix(chat): new chat notification by email only
  src/api/chat/controllers/chat.js
  tests/chat/chat.test.js
Due: yarn lint:fix

fix(promotion): coupon request available even without phone number for registered user
  package.json
  src/api/promotion/controllers/promotion.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix(report): coupon promotion could be undefined
  package.json
  src/api/report/controllers/report.js
  src/utils/dynamic-link.js
Due: yarn lint:fix, prettier --write

feat(global): version update
  package.json
  yarn.lock
Due: prettier --write

feat(category): image, and colors
  src/api/category/content-types/category/schema.json
  tests/category/category.factory.js
Due: yarn lint:fix, prettier --write

feat(static-pages): main page is added
  package.json
  src/api/static-pages/content-types/static-pages/schema.json
  tests/static-pages/static-pages.factory.js
Due: yarn lint:fix, prettier --write

fix(db config): update db configs related to previuos updated
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.core_admin_auth.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##admin##user.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
Due: prettier --write

add new env for SMS
  Dockerrun/dev/Dockerrun.aws.json
  Dockerrun/prod/Dockerrun.aws.json
Due: prettier --write

add new env
  Dockerrun/dev/Dockerrun.aws.json
  Dockerrun/prod/Dockerrun.aws.json
Due: prettier --write

fix(seo): remove redundant % symbol
  src/components/shared/seo.json
Due: prettier --write

fix(coupons): draft promotion relations should be available anywhere
  package.json
  src/api/coupon/controllers/coupon.js
  tests/coupon/coupon.test.js
Due: yarn lint:fix, prettier --write

chore(release): 2.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(database): config migration
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/core-store.plugin_upload_metrics.json
Due: prettier --write

create docker base image
  Dockerfile
  Dockerfile.base
Due: none
