Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["yarn lint:fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

fix: eslint fix for all of the project
  src/middlewares/i18n.js
  src/utils/const.js
  tests/helpers/strapi.js
  tests/organization/organization.factory.js
  tests/promotion/promotion.test.js
  tests/reservation/reservation.factory.js
  tests/reservation/reservation.test.js
  tests/utils/const.js
Due: yarn lint:fix

feature: user basic tests
  tests/user/user.factory.js
  tests/user/user.test.js
Due: yarn lint:fix

feature: confirmation email customization first step
  src/extensions/users-permissions/strapi-server.js
Due: yarn lint:fix

feature: reset password and confirmation email flow is working
  .env.example
  config/admin.js
  config/plugins.js
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.plugin_users-permissions_advanced.json
  config/sync/core-store.plugin_users-permissions_email.json
  config/sync/core-store.plugin_users-permissions_grant.json
  config/sync/user-role.manager.json
  src/extensions/users-permissions/strapi-server.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

fix: coupon request test should carefully check email send
  tests/promotion/promotion.test.js
Due: yarn lint:fix

feature: city is updated with deep 0 population and tests
  src/api/city/routes/city.js
  tests/city/city.factory.js
  tests/city/city.test.js
Due: yarn lint:fix

feature: category is updated with deep 0 population and tests
  src/api/category/routes/category.js
  tests/category/category.test.js
Due: yarn lint:fix

feature: coupon is updated with deep 3 population and tests
  src/api/coupon/routes/coupon.js
  tests/coupon/coupon.test.js
Due: yarn lint:fix

feature: promotion is updated with deep 3 population and tests
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion.js
Due: yarn lint:fix

feature: organization is updated with deep 3 population and tests
  src/api/organization/routes/organization.js
  tests/organization/organization.test.js
Due: yarn lint:fix

feature: reservation is updated with deep 3 population and tests
  src/api/reservation/routes/reservation.js
  tests/reservation/reservation.test.js
Due: yarn lint:fix

feature: reviews are populated to deep 2 and have tests
  src/api/review/controllers/review.js
  src/api/review/routes/review.js
  tests/review/review.factory.js
  tests/review/review.test.js
Due: yarn lint:fix

feature: populate middleware is added to improve readability
  src/middlewares/populate.js
Due: yarn lint:fix

fix: refactor tests code
  tests/category/category.test.js
  tests/city/city.test.js
  tests/coupon/coupon.test.js
  tests/organization/organization.test.js
  tests/promotion/promotion.test.js
  tests/reservation/reservation.test.js
  tests/review/review.test.js
  tests/user/user.factory.js
  tests/user/user.test.js
Due: yarn lint:fix

refactor: improve user factory
  config/sync/user-role.authenticated.json
  tests/category/category.test.js
  tests/city/city.test.js
  tests/coupon/coupon.test.js
  tests/organization/organization.test.js
  tests/promotion/promotion.test.js
  tests/reservation/reservation.test.js
  tests/review/review.test.js
  tests/user/user.factory.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

add env NODE_ENV
  .github/workflows/build-deploy.yml
Due: none

add env production for build step
  .github/workflows/build-deploy.yml
Due: none

rm env NODE_ENV
  .github/workflows/build-deploy.yml
Due: none

add test env
  .github/workflows/build-deploy.yml
Due: none

feature: coupons limit is added
  src/api/promotion/controllers/promotion.js
  src/utils/const.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

add src folder fro deploy step
  .github/workflows/build-deploy.yml
Due: none

fix: env example is updated with db setting for the conecction tests puproses
  .env.example
Due: none

fix: coupon email tempalte is moved to utils
  src/api/promotion/content-types/promotion/schema.json
  src/api/promotion/controllers/promotion.js
  src/utils/email.js
Due: yarn lint:fix, prettier --write

feature: locale middleware is added a locale en by default
  src/api/category/routes/category.js
  src/api/city/routes/city.js
  src/api/coupon/routes/coupon.js
  src/api/organization/routes/organization.js
  src/api/promotion/routes/promotion.js
  src/api/review/routes/review.js
  src/middlewares/locale.js
Due: yarn lint:fix

feature: auction and bids flow is added
  .vscode/settings.json
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##bid.bid.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.public.json
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  src/api/auction/routes/auction-custom.js
  src/api/auction/routes/auction.js
  src/api/auction/services/auction.js
  src/api/bid/content-types/bid/schema.json
  src/api/bid/controllers/bid.js
  src/api/bid/routes/bid.js
  src/api/bid/services/bid.js
  tests/auction/auction.factory.js
  tests/auction/auction.test.js
  tests/bid/bid.factory.js
Due: yarn lint:fix, prettier --write

feature: promotion is able to have a coupons limit
  src/api/promotion/controllers/promotion.js
  src/utils/const.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

refactor: id and slug requests are changed
  src/api/promotion/controllers/promotion.js
  src/api/promotion/services/promotion.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

fix: findOne population everywhere
  src/api/promotion/services/promotion.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

feature: likes should return likes copunt
  src/api/auction/controllers/auction.js
  src/api/auction/routes/auction.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/services/promotion.js
Due: yarn lint:fix

feature: auction related to the promotion
  config/plugins.js
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  src/api/auction/routes/auction-custom.js
  src/api/auction/services/auction.js
  src/api/coupon/services/coupon.js
  src/api/promotion/content-types/promotion/schema.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/promotion/services/promotion.js
  src/utils/const.js
  tests/auction/auction.factory.js
  tests/auction/auction.test.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: bid should have fixed amount
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  tests/auction/auction.factory.js
  tests/auction/auction.test.js
Due: yarn lint:fix, prettier --write

fix: bootstrap sould be predifned
  config/sync/core-store.plugin_users-permissions_advanced.json
  src/extensions/users-permissions/strapi-server.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

feature: user bids limit to the auction
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  tests/auction/auction.factory.js
  tests/auction/auction.test.js
Due: yarn lint:fix, prettier --write

feature: currency and custom bids error
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  src/utils/const.js
Due: yarn lint:fix, prettier --write

fix: config files
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.strapi_content_types_schema.json
Due: prettier --write

fix: remove draft for auctions
  src/api/auction/content-types/auction/schema.json
Due: prettier --write

user should have a phone
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##plugin##users-permissions.user.json
  config/sync/core-store.strapi_content_types_schema.json
  src/extensions/users-permissions/content-types/user/schema.json
Due: prettier --write

feature: phone should be unique
  src/extensions/users-permissions/content-types/user/schema.json
  tests/user/user.factory.js
Due: yarn lint:fix, prettier --write

fix: errors should have details
  src/api/auction/controllers/auction.js
  src/utils/const.js
Due: yarn lint:fix
