Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

create dockerfile
  Dockerfile
Due: none

moved auction flow into auction tests and routes
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.moderator.json
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  src/api/auction/routes/auction-custom.js
  src/api/auction/services/auction.js
  src/api/bid/services/bid.js
  src/api/promotion/content-types/promotion/schema.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  tests/auction/auction.test.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

create aws docker run json file
  Dockerrun.aws.json
Due: prettier --write

add envs to docker aws run
  Dockerrun.aws.json
Due: prettier --write

fix: user, coupons,chats refactor, and query policy upgrade
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/article/routes/article.js
  src/api/auction/routes/auction-custom.js
  src/api/auction/routes/auction.js
  src/api/bid/routes/bid-custom.js
  src/api/category/routes/category.js
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat-custom.js
  src/api/chat/services/chat.js
  src/api/city/routes/city.js
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/routes/coupon.js
  src/api/location/routes/location.js
  src/api/message/routes/message-custom.js
  src/api/organization/routes/organization.js
  src/api/promotion/routes/promotion-custom.js
  src/api/review/routes/review.js
  src/extensions/users-permissions/strapi-server.js
  tests/category/category.test.js
  tests/chat/chat.test.js
  tests/coupon/coupon.test.js
  tests/organization/organization.test.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

feature: new api structure release
  package.json
Due: prettier --write

fix: small chnges to improve chat and request coupons flow
  package.json
  src/api/chat/controllers/chat.js
  src/api/chat/services/chat.js
  src/api/coupon/routes/coupon-custom.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/promotion/routes/promotion.js
  src/utils/socket.js
Due: yarn lint:fix, prettier --write

add authentication block to docker run aws file
  Dockerrun.aws.json
Due: prettier --write

fix: location condition optimization
  src/api/promotion/services/promotion.js
Due: yarn lint:fix

fix: recommendations should apply all of the params
  src/api/promotion/routes/promotion-custom.js
Due: yarn lint:fix

feature: categories contain children
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/category/content-types/category/schema.json
  tests/category/category.factory.js
Due: yarn lint:fix, prettier --write

feature: location should have public phone for international cases
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
  tests/location/location.factory.js
Due: yarn lint:fix, prettier --write

feature: coupons are incremented regardless real number
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  src/api/coupon/content-types/coupon/lifecycles.js
  src/api/coupon/services/coupon.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/services/promotion.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feature: report item to report about something in app
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##report.report.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/report/content-types/report/schema.json
  src/api/report/controllers/report.js
  src/api/report/routes/report.js
  src/api/report/services/report.js
  tests/report/report.factory.js
  tests/report/report.test.js
Due: yarn lint:fix, prettier --write

fix: promotion do not need status
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

feature: city has lan and lon
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##city.city.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/city/content-types/city/schema.json
Due: prettier --write

fix: copupon should be connected with promotions and coupons
  config/sync/core-store.strapi_content_types_schema.json
  src/api/auction/controllers/auction.js
  src/api/coupon/services/coupon.js
  src/api/location/content-types/location/schema.json
  tests/coupon/coupon.factory.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: incorret chat test
  tests/chat/chat.socket.test.js
Due: yarn lint:fix

fix: pin should be unique for each location
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
Due: prettier --write

fix: location pin generation update
  src/api/location/content-types/location/lifecycles.js
Due: yarn lint:fix

fix: default location number should have + smblo
  package.json
  src/api/location/content-types/location/schema.json
Due: prettier --write

mv image path to env
  Dockerrun.aws.json
Due: prettier --write

create .ebextensions for deployment config
  .ebextensions/.config
Due: none

fix env usage
  Dockerrun.aws.json
Due: prettier --write

feature: titleDiscountfield to improve ux experience
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  package.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

revert changes
  Dockerrun.aws.json
Due: prettier --write

feature: coupon promtion description will be adde to the coupon
  src/api/coupon/controllers/coupon.js
  src/api/promotion/content-types/promotion/schema.json
  src/i18n/index.js
  src/utils/get-coupon-list-pdf.js
  tests/coupon/coupon.test.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: db configs
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
Due: prettier --write

fix: remove redundant field
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

feat: prices field is available in promotion
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

spit Dockerrun on dev and prod rm ebextentions folder
  Dockerrun/dev/Dockerrun.aws.json
  Dockerrun/prod/Dockerrun.aws.json
Due: prettier --write

split Dockerrun on dev and prod rm ebextentions folder
  Dockerrun/dev/Dockerrun.aws.json
  Dockerrun/prod/Dockerrun.aws.json
Due: prettier --write

foo: bar
  .versionrc.json
  commitlint.config.js
  package.json
  yarn.lock
Due: yarn lint:fix, prettier --write

chore(root): add versioning flow
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --write

chore: add standart-version
  package.json
  yarn.lock
Due: prettier --write

chore(release): 2.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(promotions): get top across all the categories
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/promotion/services/promotion.js
  tests/category/category.factory.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feat(article category): added categories to article
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article-category.article-category.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article.article.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  package.json
  src/api/article-category/content-types/article-category/schema.json
  src/api/article-category/controllers/article-category.js
  src/api/article-category/routes/article-category.js
  src/api/article-category/services/article-category.js
  src/api/article/content-types/article/schema.json
  tests/article/article.factory.js
  tests/article/article.test.js
Due: yarn lint:fix, prettier --write

feat(category): order is added
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  package.json
  src/api/category/content-types/category/schema.json
  tests/category/category.factory.js
Due: yarn lint:fix, prettier --write

Path conditions:
  yarn lint:fix: any of: *.js
  prettier --write: any of: *.json
