Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["yarn lint:fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

fix: confirmation code is available in the promiton
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##chat.chat.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon-terms.coupon-terms.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/services/coupon.js
  src/api/location/content-types/location/schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/coupon/coupon.test.js
  tests/location/location.factory.js
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

coupon is generated on the BE
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon-terms.coupon-terms.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.public.json
  package.json
  src/api/coupon-terms/content-types/coupon-terms/schema.json
  src/api/coupon/assets/NotoSans-Medium.ttf
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/services/coupon.js
  src/middlewares/i18n.js
  src/utils/translate-entity.js
  tests/coupon/coupon.test.js
  yarn.lock
Due: yarn lint:fix, prettier --write

feature: improve uuid list coupons experience
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/promotion/controllers/promotion.js
  src/utils/email.js
  tests/coupon/coupon.test.js
Due: yarn lint:fix, prettier --write

fix: so uuid method could apply both promotion and promotionless versions
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  tests/coupon/coupon.test.js
Due: yarn lint:fix

fixemial case should not affect coupon limits
  src/api/promotion/controllers/promotion.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

fix: email link should include promotion
  src/utils/email.js
Due: yarn lint:fix

feature: promotion search by title is available
  src/api/promotion/routes/promotion.js
  src/middlewares/search.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

fix: add filtering ti the tests
  package.json
  src/middlewares/search.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feature: location has privete phone number
  package.json
  src/api/location/content-types/location/schema.json
Due: prettier --write

feature: url validatipr for future
  src/utils/url-path-validate.js
  tests/utils/url-path-validate.test.js
Due: yarn lint:fix

promtoion id should be in filters
  src/utils/email.js
  tests/promotion/promotion.test.js
  tests/utils/url-path-validate.test.js
Due: yarn lint:fix

feature: new version
  package.json
  yarn.lock
Due: prettier --write

fix: coupons are changed the status and depends on the promotion date
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon-terms.coupon-terms.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##organization.organization.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##plugin##users-permissions.user.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.manager.json
  package.json
  src/api/coupon-terms/content-types/coupon-terms/schema.json
  src/api/coupon-terms/controllers/coupon-terms.js
  src/api/coupon-terms/routes/coupon-terms.js
  src/api/coupon-terms/services/coupon-terms.js
  src/api/coupon/controllers/coupon.js
  src/api/coupon/services/coupon.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/static-pages/content-types/static-pages/schema.json
  tests/coupon/coupon.factory.js
  tests/coupon/coupon.test.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feature: status field for promotion
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

fix: db settigns reseted to the pr state
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
Due: prettier --write

fix: coupon download prettified
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.public.json
  src/api/coupon/content-types/coupon/schema.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/services/coupon.js
  src/api/promotion/content-types/promotion/schema.json
  src/i18n/index.js
  src/utils/get-coupon-list-pdf.js
  tests/coupon/coupon.factory.js
  yarn.lock
Due: yarn lint:fix, prettier --write

fix: chat permissions restored
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
Due: prettier --write

fix: location has to have a private phone
  src/api/location/content-types/location/schema.json
Due: prettier --write

fix: remove expiration date from the promtions
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

fix: improve cappybara link generation
  .env.example
  config/server.js
  package.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/services/coupon.js
  src/api/promotion/controllers/promotion.js
  src/utils/dynamic-link.js
  src/utils/email.js
  src/utils/get-coupon-list-pdf.js
Due: yarn lint:fix, prettier --write

fix: original phone field to the location
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.strapi_content_types_schema.json
  package.json
  src/api/location/content-types/location/schema.json
Due: prettier --write

feature: similar and recommendations are added for promotions
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/promotion/services/promotion.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feature: popalations should be universal for all promotion requests
  src/api/promotion/utils/populate.js
Due: yarn lint:fix

fix: add tests to the search logic
  src/middlewares/search.js
  src/utils/transform-search-query.js
  tests/utils/transform-search-query.test.js
Due: yarn lint:fix

feature: location has details field
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
  tests/location/location.factory.js
Due: yarn lint:fix, prettier --write

feature: only public phone shoud be available
  .env.example
  config/server.js
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/lifecycles.js
  src/api/location/content-types/location/schema.json
  tests/location/location.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: search should work correctly after updates
  src/middlewares/search.js
  src/utils/transform-search-query.js
  tests/utils/transform-search-query.test.js
Due: yarn lint:fix

feature: recaptcha is enabled for several api router which could be frauded
  .env.example
  config/middlewares.js
  config/server.js
  src/api/auction/routes/auction-custom.js
  src/api/chat/routes/chat-custom.js
  src/api/coupon/routes/coupon-custom.js
  src/api/promotion/routes/promotion-custom.js
  src/api/review/routes/review.js
  src/extensions/users-permissions/strapi-server.js
  src/policies/captcha.js
Due: yarn lint:fix

fix: version changes
  package.json
Due: prettier --write

fix: recommendation and similar services should have pagination prop
  src/api/promotion/controllers/promotion.js
  src/api/promotion/services/promotion.js
Due: yarn lint:fix

feature: promotions have locations
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
  src/api/promotion/content-types/promotion/lifecycles.js
  src/api/promotion/content-types/promotion/schema.json
  tests/location/location.factory.js
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

fix: forward phone and pin are available
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/lifecycles.js
  src/api/location/content-types/location/schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/location/location.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: auto incre,ented pin
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/lifecycles.js
  src/api/location/content-types/location/schema.json
Due: yarn lint:fix, prettier --write

fix: phone is temporary available
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

feature: query params policy is added
  src/policies/query.js
  src/utils/is-query-params-allowed.js
  tests/utils/is-query-params-allowed.test.js
Due: yarn lint:fix

fix: promotions should apply populate params from ui
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/api/promotion/routes/promotion.js
  src/api/promotion/services/promotion.js
  src/utils/transform-search-query.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: bids actios moved into bid controller
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/auction/controllers/auction.js
  src/api/auction/routes/auction-custom.js
  src/api/auction/routes/auction.js
  src/api/auction/services/auction.js
  src/api/bid/controllers/bid.js
  src/api/bid/routes/bid-custom.js
  src/api/bid/services/bid.js
  tests/auction/auction.test.js
  tests/bid/bid.test.js
Due: yarn lint:fix, prettier --write

fix: messages were moved ander messages
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat-custom.js
  src/api/message/controllers/message.js
  src/api/message/routes/message-custom.js
  src/api/message/services/message.js
  tests/chat/chat.socket.test.js
  tests/message/message.test.js
Due: yarn lint:fix, prettier --write

fix: refactor reviews flow
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/organization/routes/organization-custom.js
  src/api/review/controllers/review.js
  src/api/review/routes/review-custom.js
  tests/review/review.test.js
Due: yarn lint:fix, prettier --write
