Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

.lintstagedrc.json:

{
  "*.js": ["yarn lint:fix", "git add"],
  "*.json": ["prettier --write", "git add"]
}

feature: users chat is added
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##chat.chat.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##message.message.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  package.json
  src/api/chat/content-types/chat/schema.json
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat.js
  src/api/chat/services/chat.js
  src/api/coupon/controllers/coupon.js
  src/api/message/content-types/message/schema.json
  src/api/message/controllers/message.js
  src/api/message/routes/message.js
  src/api/message/services/message.js
  src/extensions/users-permissions/strapi-server.js
  src/index.js
  src/utils/const.js
  tests/chat/chat.factory.js
  tests/chat/chat.socket.test.js
  tests/chat/chat.test.js
  tests/helpers/index.js
  tests/message/message.factory.js
  tests/user/user.factory.js
  yarn.lock
Due: yarn lint:fix, prettier --write

fix: improve returned chat
  src/extensions/users-permissions/strapi-server.js
  src/index.js
  tests/chat/chat.socket.test.js
Due: yarn lint:fix

feature: flexible sockets management is implemented
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  src/extensions/users-permissions/strapi-server.js
  src/index.js
  tests/chat/chat.socket.test.js
  tests/message/message.factory.js
  tests/organization/organization.factory.js
  tests/promotion/promotion.factory.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

feature: mark-as-read is available
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat-custom.js
  src/api/chat/services/chat.js
  src/index.js
  tests/chat/chat.test.js
Due: yarn lint:fix, prettier --write

fix: sockets could be unavailabe, it should not affect the flow
  src/extensions/users-permissions/strapi-server.js
Due: yarn lint:fix

fix: sockets should be disconnected before the tests cases finished
  tests/helpers/strapi.js
Due: yarn lint:fix

fix: simplified mark as read
  src/api/chat/controllers/chat.js
  src/api/chat/services/chat.js
  tests/chat/chat.socket.test.js
  tests/chat/chat.test.js
Due: yarn lint:fix

feature: moderator role is added
  config/sync/user-role.moderator.json
  src/extensions/users-permissions/strapi-server.js
Due: yarn lint:fix, prettier --write

feature: language fields for location model
  src/api/location/content-types/location/schema.json
Due: prettier --write

fix: let's make language props non required to prevent db crush
  src/api/location/content-types/location/schema.json
Due: prettier --write

fix: new location props have to be available
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.strapi_content_types_schema.json
Due: prettier --write

feat: strapi is updated
  package.json
Due: prettier --write

fix: yarn lock update
  yarn.lock
Due: none

feature: coupons ux improvements
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.public.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/extensions/users-permissions/strapi-server.js
  tests/coupon/coupon.test.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

hotfix: contains should be replaced with in to prevent sql like error
  src/api/chat/services/chat.js
Due: yarn lint:fix

hotfix: in could be simplified to
  src/api/chat/services/chat.js
Due: yarn lint:fix

hotfix: contains should be replace with equals to prevent sql error related to 'lie: string'
  src/extensions/users-permissions/strapi-server.js
Due: yarn lint:fix

feature: user name should be available in the message and chats
  src/extensions/users-permissions/strapi-server.js
  tests/user/user.test.js
Due: yarn lint:fix

fix: user name should be populated event on the find chats
  src/api/chat/services/chat.js
  tests/user/user.test.js
Due: yarn lint:fix

feature: chat availability flag
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

feature: complete api reafctor
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat-custom.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/extensions/users-permissions/strapi-server.js
  tests/chat/chat.socket.test.js
  tests/chat/chat.test.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

feature: admin settings update
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##auction.auction.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##organization.organization.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##review.review.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

fix: add query saniztizing for direct services calls
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/chat/controllers/chat.js
  src/api/organization/controllers/organization.js
  src/api/organization/routes/organization-custom.js
  src/api/promotion/controllers/promotion.js
  src/api/review/controllers/review.js
  src/extensions/users-permissions/strapi-server.js
  tests/organization/organization.test.js
  tests/review/review.test.js
Due: yarn lint:fix, prettier --write

feature: required fields for the promotions and admin promotion view enhanencment
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

feature: required fields for the promotions and admin promotion view enhanencment
  config/server.js
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/chat/content-types/chat/lifecycles.js
  src/api/message/content-types/message/lifecycles.js
  src/api/message/content-types/message/schema.json
  src/api/promotion/content-types/promotion/schema.json
  src/index.js
  src/utils/encryption.js
  src/utils/socket.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

fix: remove redundant field form the message model
  src/api/message/content-types/message/schema.json
Due: prettier --write

fix: encrypton flow should be change to prevent key length error
  src/utils/encryption.js
Due: yarn lint:fix

fix: date-fns lib update
  package.json
  yarn.lock
Due: prettier --write

fix: likes views and coupons count should be editable
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
Due: prettier --write

fix: workhours field replaces till and from
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/location/content-types/location/schema.json
Due: prettier --write

fix: messages could be send as a plain encrypted string in case of decryption error
  src/utils/encryption.js
Due: yarn lint:fix

feature: users will be notified through the email about new messages
  .env.example
  config/cron-tasks.js
  config/server.js
  src/api/chat/services/chat.js
  tests/chat/chat.factory.js
  tests/chat/chat.services.test.js
  tests/cron/cron.factory.js
  tests/cron/new-chat-message-notification.test.js
  tests/user/user.factory.js
Due: yarn lint:fix

rename env var
  .env.example
Due: none

feature: manager will be motified about new chats by sms
  .env.example
  config/cron-tasks.js
  config/server.js
  package.json
  src/api/chat/content-types/chat/lifecycles.js
  src/api/promotion/controllers/promotion.js
  src/api/sms/services/sms.js
  tests/promotion/promotion.test.js
  yarn.lock
Due: yarn lint:fix, prettier --write

fix: cron job shcedule time is updated
  config/cron-tasks.js
Due: yarn lint:fix

fix: sms service configuration is updated to enable/disable
  src/api/sms/services/sms.js
Due: yarn lint:fix

feature: coupon verification is available
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/services/coupon.js
  tests/coupon/coupon.test.js
Due: yarn lint:fix, prettier --write

feature: manager is able to request promotion coupons
  config/sync/user-role.manager.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: Editor and Author are able to manage location and promotions
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
Due: prettier --write

feature: order and size fields are added to the promotion model
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write
