Repository gridmuscles/cutify-api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:fix, prettier --write

fix: priority to size field
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
Due: prettier --write

feature: location is updated with orkhours
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.moderator.json
  src/api/location/content-types/location/schema.json
  src/api/location/controllers/location.js
  src/api/organization/routes/organization.js
  src/api/promotion/controllers/promotion.js
  src/utils/email.js
  tests/location/location.factory.js
  tests/location/location.test.js
  tests/organization/organization.test.js
  tests/promotion/promotion.test.js
  tests/user/user.factory.js
Due: yarn lint:fix, prettier --write

fix: coupns email title is correct now and includes discount and title
  src/api/promotion/controllers/promotion.js
  src/utils/email.js
Due: yarn lint:fix

feature: additional logs into the critical money spent services
  config/cron-tasks.js
  src/api/sms/services/sms.js
Due: yarn lint:fix

[RESERVATION] Removed because useless
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##reservation-service.reservation-service.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##reservation-target.reservation-target.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##reservation.reservation.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/reservation-service/content-types/reservation-service/schema.json
  src/api/reservation-service/controllers/reservation-service.js
  src/api/reservation-service/routes/reservation-service.js
  src/api/reservation-service/services/reservation-service.js
  src/api/reservation-target/content-types/reservation-target/schema.json
  src/api/reservation-target/controllers/reservation-target.js
  src/api/reservation-target/routes/reservation-target.js
  src/api/reservation-target/services/reservation-target.js
  src/api/reservation/content-types/reservation/schema.json
  src/api/reservation/controllers/reservation.js
  src/api/reservation/routes/reservation.js
  src/api/reservation/services/reservation.js
  tests/reservation-service/reservation-service.factory.js
  tests/reservation-target/reservation-target.factory.js
  tests/reservation/reservation.factory.js
  tests/reservation/reservation.test.js
Due: yarn lint:fix, prettier --write

fix: promtion discount should not be required
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

fix: promotion order could be null
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

feature: seo plugin
  config/plugins.js
  package.json
  src/api/category/content-types/category/schema.json
  src/api/promotion/content-types/promotion/schema.json
  src/components/shared/meta-social.json
  src/components/shared/seo.json
  yarn.lock
Due: yarn lint:fix, prettier --write

update tests factory
  tests/category/category.factory.js
  tests/promotion/promotion.factory.js
Due: yarn lint:fix

hotfix: coupons count calculation is incorrect
  src/api/promotion/services/promotion.js
Due: yarn lint:fix

fix: test env should always be runnnig locally
  config/database.js
Due: yarn lint:fix

feature: seo data
  src/api/category/content-types/category/schema.json
  src/api/category/routes/category.js
  src/components/shared/seo.json
Due: yarn lint:fix, prettier --write

hptfix: user phone is not required
  config/sync/core-store.strapi_content_types_schema.json
  src/extensions/users-permissions/content-types/user/schema.json
Due: prettier --write

seo component is defined and added to the test factories
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_components##shared.meta-social.json
  config/sync/core-store.plugin_content_manager_configuration_components##shared.seo.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  tests/category/category.factory.js
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

fix: i18n should work both attributes and non attributes ientities
  src/middlewares/i18n.js
  tests/category/category.test.js
  tests/promotion/promotion.factory.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix

fix: autction should be verified after complection
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_components##shared.meta-social.json
  config/sync/core-store.plugin_content_manager_configuration_components##shared.seo.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##category.category.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/auction/content-types/auction/schema.json
  src/api/auction/controllers/auction.js
  src/api/auction/services/auction.js
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  tests/auction/auction.test.js
  tests/promotion/promotion.test.js
Due: yarn lint:fix, prettier --write

fix: coupons should be transalted as well
  src/api/coupon/routes/coupon-custom.js
Due: yarn lint:fix

feature: title and description fields for the coupon
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.plugin_seo_settings.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/coupon/content-types/coupon/schema.json
Due: prettier --write

feature: article models is added
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##arcticle.arcticle.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/arcticle/content-types/arcticle/schema.json
  src/api/arcticle/controllers/arcticle.js
  src/api/arcticle/routes/arcticle.js
  src/api/arcticle/services/arcticle.js
Due: yarn lint:fix, prettier --write

feature: static pages are available
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article.article.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/article/content-types/article/schema.json
  src/api/article/controllers/article.js
  src/api/article/routes/article.js
  src/api/article/services/article.js
  src/api/privacy-policy/content-types/privacy-policy/schema.json
  src/api/privacy-policy/controllers/privacy-policy.js
  src/api/privacy-policy/routes/privacy-policy.js
  src/api/privacy-policy/services/privacy-policy.js
  src/api/static-pages/content-types/static-pages/schema.json
  src/api/static-pages/controllers/static-pages.js
  src/api/static-pages/routes/static-pages.js
  src/api/static-pages/services/static-pages.js
  tests/article/article.factory.js
  tests/article/article.test.js
  tests/static-pages/static-pages.factory.js
  tests/static-pages/static-pages.test.js
Due: yarn lint:fix, prettier --write

fix: articles should be traslated
  src/api/article/routes/article.js
Due: yarn lint:fix

fix: static pages are available directly by slig
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/static-pages/controllers/static-pages.js
  src/api/static-pages/routes/static-pages-custom.js
  tests/article/article.factory.js
  tests/static-pages/static-pages.factory.js
  tests/static-pages/static-pages.test.js
Due: yarn lint:fix, prettier --write

fix: improve static page experience
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/static-pages/content-types/static-pages/schema.json
Due: prettier --write

fix: article title translations should not be required
  config/sync/core-store.strapi_content_types_schema.json
  src/api/article/content-types/article/schema.json
Due: prettier --write

fix: refer to the en locale in case of missed locale
  src/middlewares/i18n.js
Due: yarn lint:fix

fix: update new items views
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article.article.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##static-pages.static-pages.json
Due: prettier --write

fix: permissions to the seo component should be avai;able for hte author and editor
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/core-store.plugin_upload_metrics.json
Due: prettier --write

feature: index title is added to the promotion model
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.plugin_upload_metrics.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
Due: prettier --write

feature: description field for the promotion is added
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/promotion/content-types/promotion/schema.json
  tests/promotion/promotion.factory.js
Due: yarn lint:fix, prettier --write

feature: seo block is added to the article
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##article.article.json
  config/sync/core-store.strapi_content_types_schema.json
  src/api/article/content-types/article/schema.json
Due: prettier --write

receipt is confirmed the coupon
  config/plugins.js
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##coupon.coupon.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##organization.organization.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##receipt.receipt.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##plugin##users-permissions.user.json
  config/sync/core-store.plugin_upload_api-folder.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  package.json
  src/api/coupon/content-types/coupon/schema.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/services/coupon.js
  src/api/location/content-types/location/schema.json
  src/api/organization/content-types/organization/schema.json
  src/api/receipt/content-types/receipt/schema.json
  src/api/receipt/controllers/receipt.js
  src/api/receipt/routes/receipt.js
  src/api/receipt/services/receipt.js
  src/extensions/users-permissions/content-types/user/schema.json
  tests/coupon/coupon.factory.js
  tests/receipt/receipt.factory.js
  tests/receipt/receipt.test.js
  tests/receipt/receipt.webp
  yarn.lock
Due: yarn lint:fix, prettier --write

fix: update chat to operate with location
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##chat.chat.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##promotion.promotion.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  src/api/chat/content-types/chat/schema.json
  src/api/chat/controllers/chat.js
  src/api/chat/services/chat.js
  src/api/location/content-types/location/schema.json
  src/api/location/controllers/location.js
  src/api/location/routes/location-custom.js
  src/api/promotion/content-types/promotion/schema.json
  src/api/promotion/controllers/promotion.js
  src/api/promotion/routes/promotion-custom.js
  src/utils/socket.js
  tests/chat/chat.services.test.js
  tests/chat/chat.socket.test.js
  tests/chat/chat.test.js
  tests/location/location.factory.js
Due: yarn lint:fix, prettier --write

feaure: coupon confirmation flow with manager is updated
  config/sync/user-role.manager.json
  config/sync/user-role.moderator.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/services/coupon.js
  src/api/location/controllers/location.js
  src/api/promotion/controllers/promotion.js
  src/api/receipt/controllers/receipt.js
  tests/coupon/coupon.test.js
  tests/location/location.test.js
  tests/promotion/promotion.test.js
  tests/receipt/receipt.test.js
  tests/user/user.test.js
Due: yarn lint:fix, prettier --write

feature: code cofirmation is added
  config/sync/user-role.authenticated.json
  config/sync/user-role.public.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/services/coupon.js
  tests/coupon/coupon.test.js
  tests/location/location.factory.js
Due: yarn lint:fix, prettier --write

fix: seo is available for the article
  src/api/static-pages/controllers/static-pages.js
  tests/article/article.factory.js
  tests/static-pages/static-pages.test.js
Due: yarn lint:fix

fix chat finnaly should be created form the original api endpint
  config/sync/admin-role.strapi-author.json
  config/sync/admin-role.strapi-editor.json
  config/sync/admin-role.strapi-super-admin.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##location.location.json
  config/sync/core-store.plugin_content_manager_configuration_content_types##api##receipt.receipt.json
  config/sync/core-store.strapi_content_types_schema.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.moderator.json
  package.json
  src/api/chat/content-types/chat/schema.json
  src/api/chat/controllers/chat.js
  src/api/chat/routes/chat-custom.js
  src/api/chat/services/chat.js
  src/api/location/content-types/location/schema.json
  src/api/location/controllers/location.js
  src/api/location/routes/location-custom.js
  tests/chat/chat.socket.test.js
  tests/chat/chat.test.js
  tests/location/location.test.js
Due: yarn lint:fix, prettier --write

fix: coupons should be veified with code by authentifiated user
  config/sync/user-role.authenticated.json
Due: prettier --write

coupons cofirmation is moved to coupons controller
  config/sync/admin-role.strapi-author.json
  config/sync/user-role.authenticated.json
  config/sync/user-role.moderator.json
  config/sync/user-role.public.json
  src/api/coupon/controllers/coupon.js
  src/api/coupon/routes/coupon-custom.js
  src/api/coupon/services/coupon.js
  src/api/receipt/controllers/receipt.js
  tests/coupon/coupon.test.js
  tests/coupon/receipt.webp
  tests/receipt/receipt.test.js
Due: yarn lint:fix, prettier --write

fix: chats socket connetion address
  src/utils/socket.js
Due: yarn lint:fix

feature: terms for coupons located on BE
  src/api/coupon-terms/content-types/coupon-terms/schema.json
  src/api/coupon-terms/controllers/coupon-terms.js
  src/api/coupon-terms/routes/coupon-terms.js
  src/api/coupon-terms/services/coupon-terms.js
Due: yarn lint:fix, prettier --write

Path conditions:
  yarn lint:fix: any of: *.js
  prettier --write: any of: *.json
